:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}

h1{
    color : darkblue;
    /* text-decoration: 2px underline blueviolet;
    text-decoration-skip-ink: auto; */
    /* border-bottom: 1px red solid; */
}
p a{
    color: blueviolet;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
/* strong{
    color: blueviolet;
} */